.logBackground {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/img/logbackground.jpg");
  background-size: cover;
  z-index: -999; }

/* css global reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-weight: 400;
  letter-spacing: 0.05rem;
  position: relative; }

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #777;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.mainWrap {
  display: flex;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  color: #fff; }
  .mainWrap__header {
    height: 5vh;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #000000; }
    .mainWrap__header__title {
      background-color: #2f3136;
      width: 13%;
      padding: 1rem 2rem; }
    .mainWrap__header__content {
      background-color: #36393f;
      width: 87%;
      padding: 1rem 1rem;
      display: flex;
      justify-content: space-between; }
      .mainWrap__header__content .navChan {
        display: flex;
        align-items: center; }
      .mainWrap__header__content .navBar {
        display: flex;
        justify-content: space-around;
        align-items: center; }
      .mainWrap__header__content input {
        height: 2.4rem;
        width: 14rem;
        outline: none;
        border: none;
        border-radius: 0.4rem;
        background-color: #202225;
        color: #dcddde;
        padding: 1rem 1rem;
        margin: 1rem; }
        .mainWrap__header__content input:focus {
          width: 26rem; }
      .mainWrap__header__content img {
        height: 2rem;
        width: 2rem;
        cursor: pointer;
        margin: 0rem 1rem; }
  .mainWrap__content {
    height: 95vh;
    width: 100%;
    display: flex; }
    .mainWrap__content section {
      padding: 1rem 1rem; }
    .mainWrap__content .channelSection,
    .mainWrap__content .userSection {
      width: 13%;
      height: 100%;
      background-color: #2f3136; }
    .mainWrap__content .channelSection {
      padding-left: 2rem; }
      .mainWrap__content .channelSection h3 {
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 1rem; }
      .mainWrap__content .channelSection__channel {
        margin-left: 1rem;
        display: flex;
        align-items: center; }
        .mainWrap__content .channelSection__channel button {
          background: #2f3136;
          border: none;
          cursor: pointer;
          color: #dcddde;
          display: flex;
          align-items: center; }
          .mainWrap__content .channelSection__channel button img {
            height: 1.6rem;
            width: 1.6rem;
            margin-right: 0.4rem;
            transform: translateY(-0.2rem); }
          .mainWrap__content .channelSection__channel button p {
            font-size: 1.8rem;
            padding-bottom: 0.5rem;
            color: #71757c; }
          .mainWrap__content .channelSection__channel button:focus {
            outline: none;
            border: none; }
    .mainWrap__content .mainSection {
      width: 74%;
      height: 100%;
      background-color: #36393f;
      padding: 2rem 2rem; }
      .mainWrap__content .mainSection .messages .message {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1rem; }
        .mainWrap__content .mainSection .messages .message img {
          width: 4rem;
          height: 4rem;
          margin-right: 2rem; }
        .mainWrap__content .mainSection .messages .message__content {
          display: flex;
          flex-direction: column; }
          .mainWrap__content .mainSection .messages .message__content--infos span {
            padding-bottom: 0; }
          .mainWrap__content .mainSection .messages .message__content--infos .author {
            margin-right: 0.5rem;
            color: #7289da;
            font-style: small-caps;
            font-size: 1.8rem; }
          .mainWrap__content .mainSection .messages .message__content--infos .date {
            font-size: 1.4rem;
            color: #71757c; }
      .mainWrap__content .mainSection form {
        width: 100%;
        display: flex; }
        .mainWrap__content .mainSection form label {
          width: 4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #40444b;
          border-radius: 0.4rem 0 0 0.4rem;
          padding: 0rem 1rem;
          cursor: pointer; }
          .mainWrap__content .mainSection form label img {
            height: 2rem;
            width: 2rem; }
        .mainWrap__content .mainSection form input {
          width: 100%;
          border-radius: 0.4rem;
          border: 0px;
          padding: 1rem 0.5rem;
          background-color: #40444b;
          color: #fff; }
          .mainWrap__content .mainSection form input:focus {
            outline: none;
            border: 0px; }

.loginContainer {
  margin: 0 auto;
  margin-top: 10%;
  width: 45rem;
  border-radius: 0.4rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 3rem;
  background: #36393f; }
  .loginContainer h1 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 0.5rem; }
  .loginContainer h2 {
    margin-bottom: 2rem;
    color: #dcddde; }
  .loginContainer p {
    align-self: flex-start;
    font-size: 1.4rem;
    margin-top: 1rem; }
    .loginContainer p a:link,
    .loginContainer p a:active,
    .loginContainer p a:visited {
      color: #7289da;
      font-size: 1.4rem;
      text-decoration: none; }
      .loginContainer p a:link:hover,
      .loginContainer p a:active:hover,
      .loginContainer p a:visited:hover {
        text-decoration: underline; }
  .loginContainer__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .loginContainer__form__field {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem; }
      .loginContainer__form__field label {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        color: #dcddde; }
      .loginContainer__form__field input {
        color: #fff;
        font-size: 1.6rem;
        padding: 0rem 1rem;
        border: 1px solid #202225;
        border-radius: 0.4rem;
        background: #2f3136;
        height: 4rem;
        transition: all 0.3s ease-in; }
        .loginContainer__form__field input:focus {
          outline: none;
          border: 1px solid #7289da; }
    .loginContainer__form--btn {
      font-size: 1.6rem;
      font-weight: bold;
      color: #fff;
      border-radius: 0.4rem;
      border: 0rem;
      background: #7289da;
      width: 100%;
      height: 4rem;
      transition: all 0.1s ease-out; }
      .loginContainer__form--btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
      .loginContainer__form--btn:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        outline: none; }
      .loginContainer__form--btn:focus {
        outline: none; }

.signupContainer {
  width: 45rem;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 0.4rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 3rem;
  background: #36393f; }
  .signupContainer h1 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 2rem; }
  .signupContainer a:link,
  .signupContainer a:active,
  .signupContainer a:visited {
    color: #7289da;
    font-size: 1.4rem;
    text-decoration: none;
    align-self: flex-start;
    margin-top: 1rem; }
    .signupContainer a:link:hover,
    .signupContainer a:active:hover,
    .signupContainer a:visited:hover {
      text-decoration: underline; }
  .signupContainer__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .signupContainer__form__field {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem; }
      .signupContainer__form__field label {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        color: #dcddde; }
      .signupContainer__form__field input {
        color: #fff;
        font-size: 1.6rem;
        padding: 0rem 1rem;
        border: 1px solid #202225;
        border-radius: 0.4rem;
        background: #2f3136;
        height: 4rem;
        transition: all 0.3s ease-in; }
        .signupContainer__form__field input:focus {
          outline: none;
          border: 1px solid #7289da; }
    .signupContainer__form--btn {
      font-size: 1.6rem;
      font-weight: bold;
      color: #fff;
      border-radius: 0.4rem;
      border: 0rem;
      background: #7289da;
      width: 100%;
      height: 4rem; }
      .signupContainer__form--btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
      .signupContainer__form--btn:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        outline: none; }
      .signupContainer__form--btn:focus {
        outline: none; }
