.mainWrap {
    display: flex;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    color: $color-white;

    &__header {
        height: 5vh;
        display: flex;
        width: 100%;
        border-bottom: 1px solid $color-black;

        &__title {
            background-color: $color-darker;
            width: 13%;
            padding: 1rem 1rem;
        }

        &__content {
            background-color: $color-dark;
            width: 87%;
            padding: 1rem 1rem;
            display: flex;
            justify-content: space-between;

            .navBar {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            input {
                height: 2.4rem;
                width: 14rem;
                outline: none;
                border: none;
                border-radius: 0.4rem;
                background-color: $color-almostblack;
                color: $color-grey;
                padding: 1rem 1rem;
                margin: 1rem;

                &:focus {
                    width: 26rem;
                }
            }

            img {
                height: 2rem;
                width: 2rem;
                cursor: pointer;
                margin: 0rem 1rem;
            }
        }
    }

    &__content {
        height: 95vh;
        width: 100%;
        display: flex;

        section {
            padding: 1rem 1rem;
        }

        .channelSection,
        .userSection {
            width: 13%;
            height: 100%;
            background-color: $color-darker;
        }

        .mainSection {
            width: 74%;
            height: 100%;
            background-color: $color-dark;

            form {
                width: 100%;
                display: flex;

                label {
                    width: 4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $color-lighter;
                    border-radius: 0.4rem 0 0 0.4rem;
                    padding: 0rem 1rem;
                    cursor: pointer;

                    img {
                        height: 2rem;
                        width: 2rem;
                    }
                }
                input {
                    width: 100%;
                    border-radius: 0.4rem;
                    border: 0px;
                    padding: 1rem 0.5rem;
                    background-color: $color-lighter;
                    color: $color-white;

                    &:focus {
                        outline: none;
                        border: 0px;
                    }
                }
            }
        }
    }
}
