.mainWrap {
    display: flex;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    color: $color-white;

    &__header {
        height: 5vh;
        display: flex;
        width: 100%;
        border-bottom: 1px solid $color-black;

        &__title {
            background-color: $color-darker;
            width: 13%;
            padding: 1rem 2rem;
        }

        &__content {
            background-color: $color-dark;
            width: 87%;
            padding: 1rem 1rem;
            display: flex;
            justify-content: space-between;

            .navChan {
                display: flex;
                align-items: center;
            }

            .navBar {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            input {
                height: 2.4rem;
                width: 14rem;
                outline: none;
                border: none;
                border-radius: 0.4rem;
                background-color: $color-almostblack;
                color: $color-grey;
                padding: 1rem 1rem;
                margin: 1rem;

                &:focus {
                    width: 26rem;
                }
            }

            img {
                height: 2rem;
                width: 2rem;
                cursor: pointer;
                margin: 0rem 1rem;
            }
        }
    }

    &__content {
        height: 95vh;
        width: 100%;
        display: flex;

        section {
            padding: 1rem 1rem;
        }

        .channelSection,
        .userSection {
            width: 13%;
            height: 100%;
            background-color: $color-darker;
        }

        .channelSection {
            padding: 0;
            padding-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__Container {
                h3 {
                    font-size: 1.2rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    margin-bottom: 1rem;
                    margin-left: 1rem;
                }
                &__channel {
                    margin-left: 2rem;
                    display: flex;
                    align-items: center;

                    button {
                        background: $color-darker;
                        border: none;
                        cursor: pointer;
                        color: $color-grey;
                        display: flex;
                        align-items: center;

                        img {
                            height: 1.6rem;
                            width: 1.6rem;
                            margin-right: 0.4rem;
                            transform: translateY(-0.2rem);
                        }

                        p {
                            font-size: 1.8rem;
                            padding-bottom: 0.5rem;
                            color: #71757c;
                        }

                        &:focus {
                            outline: none;
                            border: none;
                        }
                    }
                }
            }

            &__user {
                background: #292b2f;
                display: flex;
                justify-content: space-between;
                padding-left: 1rem;
                align-items: center;
                height: 6rem;

                &__container {
                    display: flex;
                    justify-content: flex-start;
                    img {
                        height: 4rem;
                        width: 4rem;
                        margin-right: 1rem;
                    }

                    &--infos {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;

                        span:nth-child(1) {
                            font-size: 1.4rem;
                            font-weight: bold;
                        }

                        span:nth-child(2) {
                            font-size: 1.2rem;
                            color: #71757c;
                        }
                    }
                }

                button {
                    background: none;
                    border: none;
                    outline: none;

                    .logout {
                        height: 3rem;
                        width: 3rem;
                        margin-right: 1rem;
                        cursor: pointer;
                    }
                }
            }
        }

        .mainSection {
            width: 74%;
            height: 100%;
            background-color: $color-dark;
            padding: 2rem 2rem;

            .messages {
                .message {
                    display: flex;
                    align-items: flex-start;
                    margin-bottom: 1rem;

                    img {
                        width: 4rem;
                        height: 4rem;
                        margin-right: 2rem;
                    }

                    &__content {
                        display: flex;
                        flex-direction: column;

                        &--infos {
                            // display: flex;
                            // align-items: flex-end;

                            span {
                                padding-bottom: 0;
                            }

                            .author {
                                margin-right: 0.5rem;
                                color: $color-blue;
                                font-style: small-caps;
                                font-size: 1.8rem;
                            }

                            .date {
                                font-size: 1.4rem;
                                color: #71757c;
                            }
                        }
                    }
                }
            }

            form {
                width: 100%;
                display: flex;

                label {
                    width: 4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $color-lighter;
                    border-radius: 0.4rem 0 0 0.4rem;
                    padding: 0rem 1rem;
                    cursor: pointer;

                    img {
                        height: 2rem;
                        width: 2rem;
                    }
                }
                input {
                    width: 100%;
                    border-radius: 0.4rem;
                    border: 0px;
                    padding: 1rem 0.5rem;
                    background-color: $color-lighter;
                    color: $color-white;

                    &:focus {
                        outline: none;
                        border: 0px;
                    }
                }
            }
        }

        .userSection {
            padding-top: 2rem;

            &__category {
                margin-bottom: 1rem;
                h3 {
                    font-size: 1.2rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    margin-bottom: 0.5rem;
                    margin-left: 1rem;
                }

                div {
                    margin-left: 2rem;
                }

                .offlineUsers {
                    p {
                        color: #71757c;
                    }
                }
            }
        }
    }
}
