.loginContainer {
    margin: 0 auto;
    margin-top: 10%;
    width: 45rem;
    // height: 56rem;
    border-radius: 0.4rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 3rem;
    background: $color-dark;

    h1 {
        color: $color-white;
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    h2 {
        margin-bottom: 2rem;
        color: $color-grey;
    }

    p {
        align-self: flex-start;
        font-size: 1.4rem;
        margin-top: 1rem;

        a:link,
        a:active,
        a:visited {
            color: $color-blue;
            font-size: 1.4rem;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__field {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;

            label {
                font-size: 1.2rem;
                text-transform: uppercase;
                margin-bottom: 0.5rem;
                color: $color-grey;
            }

            input {
                color: $color-white;
                font-size: 1.6rem;
                padding: 0rem 1rem;
                border: 1px solid $color-almostblack;
                border-radius: 0.4rem;
                background: $color-darker;
                height: 4rem;
                transition: all 0.3s ease-in;

                &:focus {
                    outline: none;
                    border: 1px solid $color-blue;
                }
            }
        }

        &--btn {
            font-size: 1.6rem;
            font-weight: bold;
            color: $color-white;
            border-radius: 0.4rem;
            border: 0rem;
            background: $color-blue;
            width: 100%;
            height: 4rem;
            transition: all 0.1s ease-out;

            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
            }

            &:active {
                transform: translateY(-1px);
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
                outline: none;
            }

            &:focus {
                outline: none;
            }
        }
    }
}
